@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Montserrat:wght@100;200;500&family=Pacifico&family=Roboto:wght@100;400&family=Square+Peg&display=swap');

.container{
  position: relative;
  min-height: 100%;
}
.content{
  position: relative;
  padding: 100px 0px 240px;
}

.aboutus{
  width: 100%;
  font-size: 18px;
}

h1{
  font-family: 'Kanit', sans-serif;
  font-size: 65px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

strong{
  font-size: 25px;
  text-transform: uppercase;
}

p{
  width: 70vw;
}

.div-1::after{
  z-index: -1;
  position: absolute;
  top:0;
  right: 0;
  width: 200px;
  height: 97%;
  background: url(../../../assets/Backdrops/bg_about_v2.png) no-repeat;
  content: "";
}
