<div class="container-fluid">
  <div class="content">
    <div class="aboutus">
      <h1>About</h1>
      <strong>Meet MangaBoii</strong>
      <p>We at MangaBoii deliver Quality Manga which is published in Japan. Also this is a side mini-project and it is open source and we only publish the manga that is free to read thereby maintaing the credit to the authors and not infringing any copytights of the studios or the creators. Also note that the manga/manhwa posted in here is completely belongs to the respective owners of the works. Thank You.</p><br>
      <p>We provide quality manga which is free.</p>
    </div>
  </div>
</div>
