/* You can add global styles to this file, and also import other style files */
/*Custom scroll-bar */
::-webkit-scrollbar{
  width: 1em;
}

::-webkit-scrollbar-track{
  /* background:rgb(248, 249, 248); */
  border-radius: 100vw;
  /* border: 1px solid black; */
  margin-block: .5em;
}

::-webkit-scrollbar-thumb{
  border: 2px solid white;
  border-radius: 100vw;
  background: black
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(0, 220, 100);
}
/*Custom scroll-bar */
